
.flex-container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    .card{
       text-align: center;
       width: 20%;
       height: auto;
       padding: 2rem;
       margin: 1rem;
    }

}

